@model int

@{
    var statusCode = Model;
    var statusmessage = "";
    switch (statusCode)
    {
        case 400:
            statusmessage = "Bad request: The request cannot be fulfilled due to bad syntax";
            break;
        case 403:
            statusmessage = "Forbidden";
            break;
        case 404:
            statusmessage = "Page not found";
            break;
        case 408:
            statusmessage = "The server timed out waiting for the request";
            break;
        default:
            statusmessage = "That’s odd... Something we didn't expect happened";
            break;
            //throw new HttpResponseMessage(HttpStatusCode.NotModified);
    }
}
<div class="container-fluid">

    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="@Model">@Model</div>
        <p class="lead text-gray-800 mb-5">@statusmessage</p>
        <p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>
        <a asp-controller="Home" asp-action="index">&larr; Back to Dashboard</a>
    </div>

</div>
@*<div class="jumbotron">
    <h1>Error @Model</h1>
    <h3>@statusmessage</h3>
</div>*@